.game{
    #board-Game {

        width: 280px;
        background-color: #9C8A7A;
        border-radius: 6px;
        border: 4px solid #9C8A7A;

        ion-col {
            height: 60px;
            border: 4px solid #9C8A7A;
            border-radius: 4px;
        }

        .grid-cell{
            background: #BDAC97;
        }

    }
}