.game{

    --background: #FAF8F0;

    .game-center{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .points {
        font-size: 45px;
        color: #776e65;
    }

    #pointsScored{
        font-size: 25px;
        position: absolute;
        color: #776e65;
    }

    #board-Game {

        width: 280px;
        background-color: #9C8A7A;
        border-radius: 6px;
        border: 1px solid #9C8A7A;

        ion-col {
            height: 60px;
            border: 4px solid #9C8A7A;
            border-radius: 8px;
            font-size: 30px;
            text-align: center;
            font-weight: 700;
            color: #746452;
            line-height: 42px;
        }

        .grid-cell{
            background: #BDAC97;
        }

        
    .number-2{
        background: #eee4da;
      }
      .number-4{
          background: #eee1c9;
      }
      .number-8{
          color: #f9f6f2;
          background: #f3b27a;
      }
      .number-16{
          color: #f9f6f2;
          background: #f69664;
      }
      .number-32{
          color: #f9f6f2;
          background: #f77c5f;
      }
      .number-64{
          color: #f9f6f2;
          background: #f75f3b;
      }    
      .number-128{
          color: #f9f6f2;
          background: #edd073;
          font-size: 20px;
      }
      .number-256{
          color: #f9f6f2;
          background: #edcc62;
          font-size: 20px;
      }
      .number-512{  
          color: #f9f6f2;
          background: #edc950;
          font-size: 20px;
      }
      .number-1024{  
          color: #f9f6f2;
          background: #edc53f;
          font-size: 20px;
      }
      .number-2048{
          color: #f9f6f2;
          background: #edc22e;
          font-size: 18px;
      }

    }
}